<!doctype html>
<html>
  <head>
    <title>Couchbase Cluster Health Check Report</title>
    <link rel="stylesheet" media="all" href="all.css" />
    <link rel="stylesheet" media="print" href="print.css" />
    <link rel="stylesheet" media="screen" href="screen.css" />
</head>

<body>
<nav id="reports">
  <a id="prev">&laquo;</a>
  <a id="next">&raquo;</a>
</nav>
<section id="main">
  <img src="logo_large.png" alt="Couchbase" class="logo" />
  <img src="logo_for_print.png" alt="Couchbase" class="logo-for-print" />
  <h1>Cluster Health Check Report</h1>
  <div class="tool-version">Tool Version: $globals['versions']</div>
  <p class="p0"><span class="ft1">Stats Scale: $scale</span></p>
  <p class="p0"><span class="ft1">Execution Time: $globals['report_time'].strftime("%Y-%m-%d %H:%M:%S")</span></p>
  <p>
    <strong>Overall cluster health:</strong>
#set $cluster_status = $util.statsClass($globals.cluster_health)
    <span class="$cluster_status[0]">$cluster_status[1]</span>
  </p>

#if $indicator_error_exist
  <article>
    <h2>Couchbase &#8211; Alerts</h2>
  #for $counter in sorted($indicator_error.keys())
    #set $error_list = $indicator_error[$counter]
    #for $error_values in $error_list:
      <h4>$error_values["description"] - <strong class="status-error">$error_values["cause"]</strong></h4>
      <ul>
      #for $err_val in sorted($error_values["value"])
        <a name="counter_${error_values["bucket"]}_${err_val["node"]}_${counter}"/>
        #if $err_val["node"] == "total"
        <li>Symptom in <em><a href="#bucket_$error_values["bucket"]">$error_values["bucket"]</a></em> bucket:</em>
        #else
        <li>Symptom in <em><a href="#bucket_$error_values["bucket"]">$error_values["bucket"]</a></em> bucket on <em><a href="#node_${error_values["bucket"]}_${err_val["node"]}">$err_val["node"]:</a></em>
        #end if
          <ul>
            <li><strong>$err_val["value"]</strong></li>
          </ul>
        </li>
      #end for
        <li>Impact <ul><li>$error_values["impact"]</li></ul></li>
        <li>Action <ul><li>$error_values["action"].replace('support@couchbase.com', '<a href="mailto:support@couchbase.com">support@couchbase.com</a>')</li></ul></li>
      </ul>
    #end for
  #end for
  </article>
#end if

  <article>
    <h2>Couchbase Cluster Overview</h2>
    <h3>Bucket list</h3>
    <table class="t1">
    <thead>
      <tr>
        <th>Bucket Name</th>
        <th>Bucket Type</th>
        <th>Health Status</th>
      </tr>
    </thead>
#for $bucket in sorted($bucket_list.keys())
  #set $bucket_status = $util.statsClass($bucket_list[$bucket]["status"])
      <tr>
        <td><a href="#bucket_${bucket}">$bucket</a></td>
        <td>$bucket_list[$bucket]["type"]</td>
  #if $bucket_list[$bucket]["type"] == "memcached"
        <td class="$bucket_status[0]">$bucket_status[1]</td>
  #else
        <td class="$bucket_status[0]"><a href="#${bucket_list[$bucket]["anchor"]}">$bucket_status[1]</a></td>
  #end if
      </tr>
#end for
    </table>
    <h3>Node list</h3>
    <table class="t1">
    <thead>
      <tr>
        <th>Node IP</th>
        <th>Couchbase Server Version</th>
        <th>Cluster Status</th>
      </tr>
    </thead>
#for $node in sorted($node_list["nodeList"]["value"])
  #set $node_status_class = 'status-' + $node["status"].lower()
      <tr>
        <td>$node["host"]</td>
        <td>$node["version"]</td>
        <td class="$node_status_class">$node["status"]</td>
      </tr>
#end for
    </table>
    <ul>
      <li>Total number of nodes in the cluster: $node_list["numNodes"]["value"]</li>
      <li>Number of down nodes: $node_list["numDownNodes"]["value"]</li>
      <li>Number of warming up nodes: $node_list["numWarmupNodes"]["value"]</li>
    </ul>
    <h3>Cluster-wide metrics</h3>
    <table class="t1">
#for $key in sorted($cluster_symptoms.keys())
  #set $value = $cluster_symptoms[$key]
      <tr>
    #if $debug
        <td title="$value["formula"]">$value["description"]</td>
    #else
        <td>$value["description"]</td>
    #end if
    #if $util.isdict($value["value"])
      #if $value["value"].has_key("value")
        #if $debug
        <td title="$value["value"]["raw"]">$value["value"]["value"]</td>
        #else
        <td>$value["value"]["value"]</td>
        #end if
      #else
        <td>N/A</td>
      #end if
    #else
        <td>$value["value"]</td>
    #end if
      </tr>
#end for
    </table>

    <h3>Bucket metrics</h3>
#for $bucket in sorted($bucket_list.keys())
  #if $bucket_list[$bucket]["type"] == "memcached"
    #continue
  #end if
  #set $status = $bucket_list[$bucket]["status"]
      <a name="bucket_${bucket}"/>
      <p class="bucket">
        <strong>Bucket: </strong> $bucket &ndash;
  #set $bucket_status = $util.statsClass($status)
        <a href="#$bucket_list[$bucket]["anchor"]"><span class="$bucket_status[0]">$bucket_status[1]</span></a>
      </p>
      <table class="t1">
  #for $symptom in sorted($bucket_symptoms[$bucket])
        <tr>
          <td title="$symptom["formula"]">$symptom["description"]</td>
    #set $statusClass = $util.statsClass($symptom["status"], False)[0]
    #if $util.isdict($symptom["value"])
      #if $debug
          <td class="$statusClass" title="$symptom["value"]["raw"]">$symptom["value"]["value"]</td>
      #else
          <td class=$statusClass>$symptom["value"]["value"]</td>
      #end if
    #else
          <td class=$statusClass>$symptom["value"]</td>
    #end if
        </tr>
  #end for
      </table>
  #if $verbose
    #for $node in sorted($bucket_node_symptoms[$bucket])
      #set $node_values = $bucket_node_symptoms[$bucket][$node]
        <a name="node_${bucket}_${node}"/>
        <p class="node"><strong>Node: </strong> $node &ndash;
      #if $bucket_node_status[$bucket].has_key($node)
        #set $node_status = $util.statsClass($bucket_node_status[$bucket][$node])
            <span class="$node_status[0]">$node_status[1]</span>
      #else
          <span class="status-ok">OK</span>
      #end if
        </p>
        <table class="t1">
      #for $node_value in sorted($node_values)
          <tr>
        #if $debug
            <td title="$node_value["formula"]">$node_value["description"]</td>
        #else
            <td>$node_value["description"]</td>
        #end if
        #set $statusClass = $util.statsClass($node_value["status"], False)[0]
        #if $util.isdict($node_value["value"])
          #if $debug
            <td class="$statusClass" title="$node_value["value"]["raw"]">$node_value["value"]["value"]</td>
          #else
            <td class=$statusClass>$node_value["value"]["value"]</td>
          #end if
        #else
            <td class=$statusClass>$node_value["value"]</td>
        #end if
          </tr>
      #end for
        </table>
    #end for
  #end if
#end for
  </article>
#if $indicator_warn_exist
  <article>
    <h2>Couchbase &#8211; Warning Indicators</h2>
    <h3>Cluster-wide metrics</h3>
  #for $counter in sorted($indicator_warn)
    #set $warn_list = $indicator_warn[$counter]
    #for $warn_values in $warn_list
      <h4>$warn_values["description"] - <span class="status-warning">$warn_values["cause"]</span></h4>
      <ul>
      #for $warn_val in sorted($warn_values["value"])
        <a name="counter_${warn_values["bucket"]}_${warn_val["node"]}_${counter}"/>
        #if $warn_val["node"] == "total"
        <li>Symptom in <em><a href="#bucket_$warn_values["bucket"]">$warn_values["bucket"]</a></em> bucket:
        #else
        <li>Symptom in <em><a href="#bucket_$warn_values["bucket"]">$warn_values["bucket"]</a></em> bucket on <em><a href="#node_${warn_values["bucket"]}_${warn_val["node"]}">$warn_val["node"]</a></em>:
        #end if
          <ul>
            <li><strong>$warn_val["value"]</strong></li>
          </ul>
        </li>
      #end for
        <li>Impact <ul><li>$warn_values["impact"]</li></ul></li>
        <li>Action <ul><li>$warn_values["action"].replace('support@couchbase.com', '<a href="mailto:support@couchbase.com">support@couchbase.com</a>')</li></ul></li>
      </ul>
    #end for
  #end for
  </article>
#end if
</section>
<script src="zepto.min.js"></script>
<script src="underscore.min.js"></script>
<script src="app.js"></script>
</body>
</html>
