body {margin:2% 5% 5% 5%;padding:0;font:16px 'Arial';background:#FCFDFB}

h1 {padding-left: 2px;margin-top: 0px;margin-bottom: 0px;font-size:25px;line-height:30px}
h2 {font: bold 21px 'Arial';line-height: 24px;}
h3 {font: bold 17px 'Arial';line-height: 19px;}
ul {line-height:28px}
th { background:#7CB8E2 url(../image/header_bkg.png) repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left;}
td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }

.ft1{font: italic 19px 'Arial';color: #345a8a;line-height: 15px;}
.ft15{font-weight: bold;line-height: 17px;white-space: nowrap;}

.p0{padding-left: 2px;margin-top: 0px;margin-bottom: 0px;}
.p10{margin-top: 0px;margin-bottom: 0px;}

.t1, .t3{border-collapse: collapse;}
.t1{margin: 30px 26px;}

.logo-for-print {display:none}

#reports {position:fixed;height:75px;overflow:hidden;top:0;right:0;left:0;background:white;border-bottom:1px solid #aaa;box-shadow: 0 1px 5px #ccc}
#report th { background:#7CB8E2 url(../image/header_bkg.png) repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left;}
#report td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }
#report tr.odd td { background:#fff url(../image/row_bkg.png) repeat-x scroll center left; cursor:pointer; }
#reports td a {display:block;background: #e3e3e3;padding:0.5em;color:#333;text-decoration:none;text-align:center}
#reports td a:hover {background: #aaa;color:black}
#prev, #next {position:absolute;height:75;width:20px;padding:30px 5px;background:white;z-index:10;text-align:center;opacity:0.9;cursor:pointer}
#prev {box-shadow: 5px 0 5px white}
#next {right:0;box-shadow: -5px 0 5px white}
#reports table {position:absolute;right:30px}
#report div.arrow { background:transparent url(../image/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
#report div.up { background-position:0px 0px;}

#embeded {height:75px;overflow:hidden;top:0;right:0;left:0;background:white;border-bottom:1px solid #aaa;box-shadow: 0 1px 5px #ccc;}
#embeded th { background:#7CB8E2 url(../image/header_bkg.png) repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left;}
#embeded td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }
#embeded tr.odd td { background:#fff url(../image/row_bkg.png) repeat-x scroll center left; cursor:pointer; }
#embeded td a {display:block;background: #e3e3e3;padding:0.5em;color:#333;text-decoration:none;text-align:center}
#embeded td a:hover {background: #aaa;color:black}
